
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" card-title">Reconnaissance du déchet par webcam</h3>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class=" col-md-3" style="border: 1px solid;">
              <h4>Activation de la source de l'image</h4>
              <div style="margin-top: 8%; margin-left: 10%;">
                <h6>Autoriser l'accès à la caméra</h6>
                <button (click)="init()" style="    margin-right: 3%;">Utiliser votre caméra</button>
                <button (click)="disable()">Stopper la caméra</button>
              </div>
            </div>
  
            <div class=" col-md-3" style="border: 1px solid;">
              <div #video id="webcam-container"></div>
              <p id="result" style="display: none;">Résultat: {{result}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
