
<div class=" content">
  
  <div class="row">
    <div class=" col-lg-6" >
      <div class=" card card-chart">
        <div class=" card-header">
          <h1 class=" card-category" style="font-size: 110%;">Choix d'une image par webcam</h1>
        </div>
        <div class=" card-body" style="min-height: 330px;">
          <div style="margin-top: 8%; margin-left: 10%;">
            <h6 style="margin-bottom: 2%;">Autoriser l'accès à la caméra</h6>
            <button (click)="init()" style="margin-bottom: 6%; padding: 5px 13px;">Utiliser votre caméra</button>
            <h6 style="margin-bottom: 2%;">Bloquer l'accès à la caméra</h6>
            <button (click)="disable()" style="padding: 5px 13px;">Stopper la caméra</button>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-6">
      <div class=" card card-chart">
        <div class=" card-header">
          <h1 class=" card-category" style="font-size: 110%;">Reconnaissance grâce au réseau de neurones</h1>
        </div>
        <div class=" card-body" style="min-height: 330px;">
          <div style="text-align: center;">
            <div #video id="webcam-container"></div>
            <p id="result" style="display: none; margin-top: 2%;">Résultat: {{result}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
