
<div class=" content">

    <div class="card" style="padding-bottom: 2%;">
      <div class=" card-header" (click)="fill()">Remplissage de la benne</div>
      <div class="card-body">
           
        <div class="row" style="justify-content: center; margin-bottom: 3%;">
          <div *ngFor="let element of categories1" class="col-lg-3">
            <ngx-gauge
              [type]="element.gaugeType" 
              [value]="element.gaugeValue" 
              [label]="element.gaugeLabel"  
              [append]="element.gaugeAppendText"
              size="270"
              [foregroundColor]="getColor(element.gaugeValue)">
            </ngx-gauge>
          </div>
        </div>

        <div class="row" style="justify-content: center;">
          <div *ngFor="let element of categories2" class="col-lg-3">
            <ngx-gauge 
              [type]="element.gaugeType" 
              [value]="element.gaugeValue" 
              [label]="element.gaugeLabel"  
              [append]="element.gaugeAppendText"
              size="270"
              [foregroundColor]="getColor(element.gaugeValue)">
            </ngx-gauge>
          </div>
        </div>
      </div>
    </div>
    <mat-slide-toggle style="color: rgba(255, 255, 255, 0.8);" [(ngModel)]="isChecked">Mode automatique</mat-slide-toggle>
        <div class=" col-md-4">
        <button  class=" btn btn-danger btn-block" (click)="showNotification('bottom', 'center', 'tri')" [disabled]="isChecked" > Appel Centre de tri
        </button>
        <button  class=" btn btn-danger btn-block" (click)="showNotification('bottom', 'center', 'tech')" [disabled]="isChecked" > Appel centre technique
        </button> 
        </div>     
</div>
